include README.md
include requirements.client.txt requirements.server.txt
recursive-include docs *
recursive-include tests *
recursive-include examples *
recursive-include lnt/server/ui/static *.css *.js *.html *.ico *.txt
recursive-include lnt/server/ui/templates *.html
recursive-include lnt/server/db/migrations *
include lnt/server/ui/static/flot/Makefile
include lnt/external/stats/README.txt
prune docs/_build
prune tests/*/Output
prune tests/*/*/Output
