# These requirements are what you would install on a production server.
-r requirements.client.txt
psycopg2==2.5.3
# Flask 0.11 does not work yet.
gunicorn==18.0
heroku==0.1.4
progressbar==2.3
requests==2.3.0
