# .coveragerc to control coverage.py
[run]
branch = True
parallel = True
source = lnt

[html]
directory = coverage_html_report

# Exclude external code from the coverage report. Note that this is relative to
# our location.
[report]
omit = ../lnt/external/*