/* General Styles */

body {
    color:#000000;
    background-color:#ffffff
}

body {
    font-family: Helvetica, sans-serif;
    font-size:9pt
}

h1 {
    font-size: 14pt;
}

h2 {
    font-size: 12pt;
}

table {
    font-size:9pt
}

table {
    border-spacing: 0px;
    border: 1px solid black
}

th, table thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
    text-align:center;
    font-weight: bold;
    font-family: Verdana;
}

.W {
    font-size:0px
}

th, td {
    padding:5px;
    padding-left:8px;
}

tbody.scrollContent {
    overflow:auto
}

.hideable {
    border-width:thin;
    border-color:background;
    border-style:solid;
    background: #F8F8FF;
    padding:8px;
}

/* Nav Header Styles */
nav.zorg_navheader {
  background-color: #cccccc;  
  width: 100%;
  height: 2em;
  font-weight: bolder;
  
  border-style: solid;
  border-width: 1px;
}
.zorg_navheader_dbname {
  float: left;
  margin-top: 0.35em;
  margin-left: 1em;
}
.zorg_navheader_dbselector {
  float: right;
  margin-right: 2em;
}


/* Nested popups */

.hideable_1 {
    border-width:thin;
    border-color:background;
    border-style:solid;
    background: #F8F8FF;
    padding:8px;
}

.hideable_2 {
    border-width:thin;
    border-color:background;
    border-style:solid;
    background: #E8E8E8;
    padding:8px;
}
