# This file composes a full service running LNT. A LNT service is comprised
# of a container running a Postgres database, a container running a Nginx
# reverse proxy and a container running a LNT webserver using gunicorn.
#
# In order to compose the full service, some secrets are required. They are taken
# as environment variables, which means they can be stored in a file and included
# via `--env-file <secrets-file>`. These environment variables are:
#
#   LNT_DB_PASSWORD
#     The password to use for logging into the database.
#
#   LNT_AUTH_TOKEN
#     The authentication token used to require authentication to
#     perform destructive actions.
#
# Additionally, the following aspects of the container can be customized:
#
#   LNT_IMAGE
#     The version of the llvm-lnt webserver image used for the service.
#     Defaults to 'latest'.
#
#   LNT_NGINX_CONFIG
#     The path to the configuration file to use for Nginx. By default, the nginx
#     configuration in this source tree is used, however this must be specified
#     whenever running from a host where the source tree is not available, or
#     when a fundamentally different configuration is desired.
#
#   LNT_EXTERNAL_PORT
#     The externally-visible port that will be exposed by the service to interact
#     with the webserver. This defaults to '8000', which is consistent with what
#     LNT uses by default for local servers and development.

name: llvm-lnt

services:
  webserver:
    container_name: webserver
    image: ghcr.io/llvm/llvm-lnt:${LNT_IMAGE:-latest}
    # Useful for local debugging
    # build:
    #   context: ../
    #   dockerfile: docker/lnt.dockerfile
    environment:
      - DB_USER=lntuser
      - DB_HOST=dbserver
      - DB_NAME=lnt
      - DB_PASSWORD_FILE=/run/secrets/lnt-db-password
      - AUTH_TOKEN_FILE=/run/secrets/lnt-auth-token
    secrets:
      - lnt-db-password
      - lnt-auth-token
    depends_on:
      - db
    deploy:
      restart_policy:
        condition: on-failure
    volumes:
      - instance:/var/lib/lnt
    # Only expose this port to the internal Docker network, but not to
    # the outside world.
    expose:
      - "8000"
    networks:
      - lnt_network

  db:
    container_name: dbserver
    image: docker.io/postgres:18-alpine
    environment:
      - POSTGRES_PASSWORD_FILE=/run/secrets/lnt-db-password
      - POSTGRES_USER=lntuser
      - POSTGRES_DB=lnt
    secrets:
      - lnt-db-password
    volumes:
      - database:/var/lib/postgresql
    networks:
      - lnt_network

  nginx:
    container_name: nginx_reverse_proxy
    image: docker.io/nginx:latest
    restart: unless-stopped
    volumes:
      - ${LNT_NGINX_CONFIG:-./nginx.conf}:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - webserver
    # The Nginx server listens to port 80 inside the container, but exposes
    # the specified port to the outside world.
    ports:
      - "${LNT_EXTERNAL_PORT:-8000}:80"
    networks:
      - lnt_network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  instance:
  database:

secrets:
  lnt-db-password:
    environment: "LNT_DB_PASSWORD"
  lnt-auth-token:
    environment: "LNT_AUTH_TOKEN"

networks:
  lnt_network:
    driver: bridge
