# This file composes a full service running LNT. A LNT service is comprised
# of a container running a Postgres database and a container running a
# production LNT webserver.
#
# In order to compose the full service, some secrets are required. They are taken
# as environment variables, which means they can be stored in a file and included
# via `--env-file <secrets-file>`. These environment variables are:
#
#   LNT_DB_PASSWORD
#     The password to use for logging into the database.
#
#   LNT_AUTH_TOKEN
#     The authentication token used to require authentication to
#     perform destructive actions.
#
# Additionally, the following aspects of the container can be customized:
#
#   LNT_IMAGE
#     The version of the llvm-lnt webserver image used for the service.
#     Defaults to 'latest'.
#
#   LNT_HOST_PORT
#     The host-side port that will be bound to the container-side port running
#     the webserver. This defaults to '8000', which is consistent with what LNT
#     uses by default for local servers and development. However, production
#     instances may want to map their port '80' (the default HTTP port) to the
#     container's port '8000'.

name: llvm-lnt

services:
  webserver:
    container_name: webserver
    image: ghcr.io/llvm/llvm-lnt:${LNT_IMAGE:-latest}
    # Useful for local debugging
    # build:
    #   context: ../
    #   dockerfile: docker/lnt.dockerfile
    environment:
      - DB_USER=lntuser
      - DB_HOST=dbserver
      - DB_NAME=lnt.db
      - DB_PASSWORD_FILE=/run/secrets/lnt-db-password
      - AUTH_TOKEN_FILE=/run/secrets/lnt-auth-token
    secrets:
      - lnt-db-password
      - lnt-auth-token
    depends_on:
      - db
    deploy:
      restart_policy:
        condition: on-failure
    ports:
      - "${LNT_HOST_PORT:-8000}:8000"
    volumes:
      - instance:/var/lib/lnt
      - logs:/var/log/lnt

  db:
    container_name: dbserver
    image: docker.io/postgres:18-alpine
    environment:
      - POSTGRES_PASSWORD_FILE=/run/secrets/lnt-db-password
      - POSTGRES_USER=lntuser
      - POSTGRES_DB=lnt.db
    secrets:
      - lnt-db-password
    volumes:
      - database:/var/lib/postgresql

volumes:
  instance:
  logs:
  database:

secrets:
  lnt-db-password:
    environment: "LNT_DB_PASSWORD"
  lnt-auth-token:
    environment: "LNT_AUTH_TOKEN"
