<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/png"
        href="{{ url_for('.static', filename='favicon.ico') }}">
  <title>{{old_config.name}}{%
    for short_name,_ in components
    %} : {{short_name}}{% endfor %} - {{ self.title() }}</title>
  <link rel="stylesheet" type="text/css"{#
        #} href="{{ url_for('.static', filename='style.css') }}">
  {% block head %}{% endblock %}
  <script type='text/javascript'>
  {% block javascript %}{% endblock %}
  </script>
</head>
{% if self.onload is defined %}
<body onload="{{ self.onload() }}">
{% else %}
<body>
{% endif %}
  {# Top-Level Content (non-footer) #}
  <div id="top-level-content">
    {# Page Header #}
    <nav id="header" class="clearfix">
      <div class="container">
        {# LNT Instance Title #}
        <a href="{{url_for('index')}}" class="header-title">
          <h2>{{old_config.name}}</h2>
        </a>

        {# Navigation Breadcrumbs #}
        <span id="nav-breadcrumbs">
          <ul id="navlist" class="nav">
            {% for short_name,path in components %}
            <li><a href="{{ path }}">{{short_name}}</a></li>
            <li>|</li>
            {% endfor %}
            <li>{{ self.title() }}</li>
          </ul>
        </span>

        {# Database Selector #}
        <span id="nav-dbselector">
          <form method="get" action="{{ url_for('select_db') }}" class="nav">
            <input type="hidden" name="path" value="{{ request.path }}"/>
            <label>Database:</label>
            <select name="db" onchange="submit()">
              {% for name in old_config.databases.keys()|sort %}
              <option{{" selected" if name == g.db_name else ""}}>{{ name }}</option>
              {% endfor %}
            </select>
            <input type="submit" value="Go"/>
          </form>
        </span>
      </div>
    </nav>

    {# Page Content #}
    <div id="content" class="container">{%
      block body %}{% endblock %}
    </div>

    {# Force space for footer #}
    <div id="header-push"></div>
  </div>

  {# Page Footer #}
  <footer class="container clearfix">
    {# Include any database log, if present. #}
    {% if g.db_log is defined %}
    <h3>SQL Log</h3>
    <pre>{{g.db_log.getvalue()}}</pre>
    <hr>
    {% endif %}
    <p>LNT Version: {{ app.version }}</p>
    <p>Server Started: {{ app.start_time|asusertime }}</p>
    <p>Generated: {{ request.request_time|asusertime }}</p>
    <p>Render Time: {{ "%.2fs" % request.elapsed_time() }}</p>
  </footer>
</body>
</html>
