{% macro render_popup_begin(id, title, hidden, depth=1) -%}
<p>
<a href="javascript://" onclick="toggleLayer('{{id}}')"; id="{{id}}_">({{
  "-" if hidden else "+" }}) {{title}}</a>
<div id="{{id}}"
     style="display: {{'none' if hidden else '' }};"
     class="hideable_{{depth}}">
{%- endmacro %}

{% macro render_popup_end() -%}
</div>
{%- endmacro %}

{% macro render_result(r) -%}
<a href="{{v4_url_for('v4_run', id=r.id)}}">View Results</a>
{%- endmacro %}

{% macro render_machine(m) -%}
<a href="{{v4_url_for('v4_machine', id=m.id)}}">{{m.name}}:{{m.id}}</a>
{%- endmacro %}
