{% import "v4_utils.html" as v4_utils %}
{% import "utils.html" as utils %}

{% extends "layout.html" %}
{% set components = [(ts.name, v4_url_for("v4_global_status"))] %}
{% block head %}
        <link type="text/css" rel="stylesheet"
              href="{{ url_for('.static', filename='v4_global_status.css') }}"></link>
        <script async src="{{ url_for('.static', filename='popup.js') }}"></script>
        <script async src="{{ url_for('.static', filename='sorttable.js') }}"></script>
        <script language="javascript" type="text/javascript"
                src="{{ url_for('.static',
                     filename='jquery/1.7.2/jquery-1.7.2.min.js') }}"></script>
        <script language="javascript" type="text/javascript"
                src="{{ url_for('.static',
                     filename='jquery/1.7.2/jquery-ui-1.8.22.custom.min.js') }}"></script>
        <script language="javascript" type="text/javascript"
                src="{{ url_for('.static',
                     filename='jquery/jquery.scrolltofixed/jquery-scrolltofixed.min.js') }}"></script>
        <script language="javascript" type="text/javascript"
                src="{{ url_for('.static',
                     filename='jquery/jquery.contextmenu/jquery.contextmenu.js') }}"></script>
        <script language="javascript" type="text/javascript"
                src="{{ url_for('.static',
                     filename='jquery/jquery.formdefaults/jquery.formdefaults.min.js') }}"></script>
        <script language="javascript" type="text/javascript"
                src="{{ url_for('.static',
                     filename='v4_global_status.js') }}"></script>
        
        <style type="text/css">
          {# Generate css classes to show/hide groups and machines #}
          
          {% for m in machines %}
             table.hide-{{ m.get_css_name() }} td.{{ m.get_css_name() }},
             table.hide-{{ m.get_css_name() }} th.{{ m.get_css_name() }},
             table.hidenot-{{ m.get_css_name() }} td.not-{{ m.get_css_name() }},
             table.hidenot-{{ m.get_css_name() }} th.not-{{ m.get_css_name() }} {
                 display: none;
             }
          {% endfor %}
          {% for group in groups %}
             table.hide-{{group}} td.{{group}},
             table.hide-{{group}} th.{{group}},
             table.hidenot-{{group}} td.not-{{group}},
             table.hidenot-{{group}} th.not-{{group}} {
               display: none;
             }
          {% endfor %}
        </style>
{% endblock %}

{% block title %}Global Status - {{
        selected_field.name.replace("_", " ").title() }}
{% endblock %}

{% block body %}
<div id="emperor-control">
  <div id="right-king-control" class="control-panel">
    <h3>Current Settings</h3>
    <table>
      <tr><td>Comparison Field:</td><td>{{ selected_field.name }}</td></tr>
      <tr><td>Baseline Type:</td><td>{{ selected_baseline_type }}</td></tr>
      <tr><td>Baseline Revision:</td><td>{{ selected_revision }}</td></tr>
      <tr><td>Baseline Date:</td><td>{{ selected_date }}</td></tr>
    </table>
    <h3>Select a New Comparison</h3>
    <div id="revision-control-panel">
      <form>
        <ul>
          <li>
            <select name="field" class="field-form">
              {% for f in fields %}
                  {% if f == selected_field %}
                      <option value="{{ f.id }}" selected="selected">{{ f.name }}</option>
                  {% else %}
                      <option value="{{ f.id }}">{{ f.name }}</option>
                  {% endif %}
              {% endfor %}
            </select>
          </li>
          <li>
            <select name="type" class="baseline-form">
              {% for value, desc in baseline_types %}
                 {% if value == selected_baseline_type %}
                    <option value="{{ value }}" selected="selected">{{ desc }}</option>
                 {% else %}
                    <option value="{{ value }}">{{ desc }}</option>
                 {% endif %}
              {% endfor %}
            </select>
          </li>
          <li>
            <input class="baseline-form" name="revision" type="text" value="Revision (if Arbitrary Revision is selected)"/>
          </li>
          <li>
            <input id="baseline-form-date-input" class="baseline-form" name="date" type="text" value="Date (if Arbitrary Date is selected)"/>
          </li>
          <li>
            <input type="submit" value="submit"/>
          </li>
        </ul>
      </form>
    </div>    
  </div>
  
  <div id="left-king-control" class="control-panel">  
    <h3>Toggle Machine Visibility</h3>
    <div id="toggle-machine-control-panel">
      <ul>
        {% for m in machines %}
        <li><input machine="{{ m.name }}" id="checkbox-{{ m.get_css_name() }}" checked="checked" type="checkbox" onclick="v4_global_status.toggle_column_visibility('{{ m.get_css_name() }}');">{{ m.name }}</input></li>
        {% endfor %}
      </ul>
    </div>
    <h3>Preconfigured Data Views</h3>
    <div id="preconfigured-groups-control-panel">
      <ul>
        {% for group in groups %}
           <li><button onclick="v4_global_status.set_table_view('{{ group }}');">{{ group }}</button></li>
        {% endfor %}

        <li><button onclick="v4_global_status.reset_table();">Reset Table</button></li>
      </ul>
    </div>
  </div>
</div>

<table id="data-table" class="sortable_rev">
  <tr id="data-table-header">
    <th class="label-header">Test</th>
    <th id="worst-time-header" class="data-header worst-time">Worst Time</th>
    {% for m in machines %}
    <th class="data-header {{ m.get_css_name() }} {{ machine_groups_map[m] }}">{{ m.name }}</th>
    {% endfor %}
  </tr>
  {% for row in tests %}
  <tr>
    <td class="row-head">
      {{ row[0] }}
    </td>
    {{ row[1]|aspctcell("data-cell worst-time")|safe }}
    {% for cr in row[2:] %}
      {{ cr.pct_delta|aspctcell("data-cell " + machines[loop.index0].get_css_name() + " " + machine_groups_map[machines[loop.index0]])|safe }}
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endblock %}
