{% import "utils.html" as utils %}

{% extends "layout.html" %}
{% set components = [(ts.name, v4_url_for("v4_overview"))] %}
{% block head %}
  <script src="{{ url_for('.static', filename='popup.js') }}"></script>
  <script src="{{ url_for('.static', filename='sorttable.js') }}"></script>
  <script language="javascript" type="text/javascript"
          src="{{ url_for('.static',
                          filename='jquery/1.5/jquery.min.js') }}"> </script>
  <script language="javascript" type="text/javascript"
          src="{{ url_for('.static',
                          filename='flot/jquery.flot.min.js') }}"> </script>
  <script language="javascript" type="text/javascript"
          src="{{ url_for('.static',
                          filename='flot/jquery.flot.errorbars.js') }}"> </script>
  <script language="javascript" type="text/javascript"
          src="{{ url_for('.static',
                          filename='flot/jquery.flot.navigate.min.js') }}"> </script>
  <script language="javascript" type="text/javascript"
          src="{{ url_for('.static',
                          filename='flot/jquery.flot.selection.min.js') }}"> </script>
  <script language="javascript" type="text/javascript"
          src="{{ url_for('.static',
                          filename='flot/jquery.flot.highlight.min.js') }}"></script>
  <script language="javascript" type="text/javascript"
          src="{{ url_for('.static',
                          filename='flot/jquery.flot.touch.min.js') }}"></script>
{% endblock %}

{% block title %}Graph{% endblock %}

{# Add JS to initialize the graph. #}
{% block onload %}init(){% endblock %}
{% block javascript %}
var g = {}

function init() {
  // Set up the primary graph.
  var graph = $("#graph");
  var graph_plots = {{graph_plots|tojson|safe}};
  var graph_options = {
      series : {
        lines : {
          lineWidth : 1 },
        shadowSize : 0
        },
      highlight : {
{% if revision_range is not none %}
        range: {{revision_range|tojson|safe}} 
{% else %}
        enabled: false
{% endif %}
      },
      zoom : { interactive : true },
      pan : { interactive : true,
              frameRate: 60 },
      grid : {
        hoverable : true }
      };
  $.plot(graph, graph_plots, graph_options);

  // Add tooltips.
  graph.bind("plothover", function(e,p,i) {
    update_tooltip(e, p, i, show_tooltip); });

  // Set up the overview graph.
  var overview = $("#overview")
  var overview_plots = {{overview_plots|tojson|safe}};
  $.plot(overview, overview_plots, {
    series : {
      lines : {
        lineWidth : 1 },
      shadowSize : 0 },
    selection: { mode: "x" },
    touch: {
      enabled: false
    },
    highlight : {
{% if revision_range is not none %}
       range: {{revision_range|tojson|safe}},
       alpha: "1",
       stroke: true,
{% else %}
        enabled: false
{% endif %}
    },
    yaxis: { ticks: [] } });

  // Connect selection on the overview graph to the main plot.
  $("#overview").bind("plotselected", function (event, ranges) {
    // Set the zooming on the plot.
    $.plot(graph, graph_plots,
      $.extend(true, {}, graph_options, {
        xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to },
        yaxis: { min: ranges.yaxis.from, max: ranges.yaxis.to }
      }));
  });
}

// Show our overlay tooltip.
g.current_tip_point = null;
function show_tooltip(x, y, item, pos) {
    var data = item.datapoint;
    var tip_body = '<div id="tooltip">';
    tip_body += "<b>Revision:</b>" + data[0].toFixed(0) + "<br>";
    tip_body += "<b>Value:</b>" + data[1].toFixed(4) + "s" + "</div>";

    $(tip_body).css( {
        position: 'absolute',
        display: 'none',
        top: y + 5,
        left: x + 5,
        border: '1px solid #fdd',
        padding: '2px',
        'background-color': '#fee',
        opacity: 0.80
    }).appendTo("body").fadeIn(200);
}

// Event handler function to update the tooltop.
function update_tooltip(event, pos, item, show_fn) {
    if (!item) {
        $("#tooltip").remove();
        g.current_tip_point = null;
        return;
    }
        
    if (!g.current_tip_point || (g.current_tip_point[0] != item.datapoint[0] ||
                                 g.current_tip_point[1] != item.datapoint[1])) {
        $("#tooltip").remove();
        g.current_tip_point = item.datapoint;
        show_fn(pos.pageX, pos.pageY, item, pos);
    }
}
{% endblock %}

{% block body %}

{{ utils.render_popup_begin('view_options', 'View Options', true) }}
<form action="" method="get">
<b>Hide Line Plot:</b>
<input type="checkbox" name="hide_lineplot" value="yes" {{
       'checked' if options.hide_lineplot else ""}}><br>

<b>Show Median Absolute Deviation:</b>
<input type="checkbox" name="show_mad" value="yes" {{
       'checked' if options.show_mad else ""}}><br>

<b>Show Standard Deviation:</b>
<input type="checkbox" name="show_stddev" value="yes" {{
       'checked' if options.show_stddev else ""}}><br>

<b>Show Linear Regression:</b>
<input type="checkbox" name="show_linear_regression" value="yes" {{
       'checked' if options.show_linear_regression else ""}}><br>

<b>Show Points For Failures:</b>
<input type="checkbox" name="show_failures" value="yes" {{
       'checked' if options.show_failures else ""}}><br>

<b>Show Sample Points:</b>
<input type="checkbox" name="show_points" value="yes" {{
       'checked' if options.show_points else ""}}><br>

<b>Show All Sample Points:</b>
<input type="checkbox" name="show_all_points" value="yes" {{
       'checked' if options.show_all_points else ""}}><br>

<b>Normalize By Median:</b>
<input type="checkbox" name="normalize_by_median" value="yes" {{
       'checked' if options.normalize_by_median else ""}}><br>

<b>Show Moving Average</b>
<input type="checkbox" name="show_moving_average" value="yes" {{
       'checked' if options.show_moving_average else ""}}><br>

<b>Show Moving Median</b>
<input type="checkbox" name="show_moving_median" value="yes" {{
       'checked' if options.show_moving_median else ""}}><br>

<b>Moving Average/Median Window Size</b>
<input type="text" name="moving_window_size" value="{{ options.moving_window_size }}"/><br>

<b>Hide Revision Comparison Region Highlight</b>
<input type="checkbox" name="hide_highlight" value="yes" {{
       'checked' if options.hide_highlight else ""}}><br>

{# Add all the hidden fields. #}
{% for name,value in request.args.items() %}
  {% if name.startswith('plot.') %}
    <input type="hidden" name="{{name}}" value="{{value}}">
  {% endif %}
{% endfor %}

<input type="submit" name="submit" value="Update">
</form>
{{ utils.render_popup_end() }}

<h3>Graph</h3>
<table>
<tr>
<td rowspan=2 valign="top">
  <div id="graph" style="width:600px;height:400px;"></div>
  <div id="overview" style="width:600px;height:80px;"></div>
</td>
<td valign="top">
<table cellspacing=4 border=1>
<tr>
  <th colspan=2>Machine</th>
  <th>Test</th>
  <th>Type</th>
</tr>
{% for machine,test_name,field_name,col in legend %}
    <tr>
      <td bgcolor="{{ '%02x%02x%02x' % (
                        255*col[0], 255*col[1], 255*col[2]) }}">&nbsp;</td>
      <td>{{machine.name}}:{{machine.id}}</td>
      <td>{{test_name}}</td>
      <td>{{field_name}}</td>
    </tr>
{% endfor %}
</table>
</td></tr>
<tr><td align="right" valign="bottom">
<font size="-2">
Left Mouse: Pan<br>
Double Left Mouse: Zoom<br>
Wheel: Zoom<br>
</font>
</td></tr>
</table>
<p>

{% endblock %}
