{% import "v4_utils.html" as v4_utils %}
{% import "utils.html" as utils %}

{% set machine = run.machine %}

{% extends "layout.html" %}
{% set components = [(ts.name, v4_url_for("v4_overview")),
                     ('machine', v4_url_for("v4_machine", id=machine.id))] %}
{% block head %}
  <script src="{{ url_for('.static', filename='popup.js') }}"></script>
  <script src="{{ url_for('.static', filename='sorttable.js') }}"></script>
  <script language="javascript" type="text/javascript"
          src="{{ url_for('.static',
                          filename='jquery/1.5/jquery.min.js') }}"> </script>
  <script language="javascript" type="text/javascript"
          src="{{ url_for('.static',
                          filename='flot/jquery.flot.min.js') }}"> </script>
  <script language="javascript" type="text/javascript"
          src="{{ url_for('.static',
                          filename='flot/jquery.flot.navigate.min.js') }}"> </script>
  <script language="javascript" type="text/javascript"
          src="{{ url_for('.static',
                          filename='flot/jquery.flot.errorbars.js') }}"> </script>
{% endblock %}

{% block title %}Graph{% endblock %}

{# Add JS to initialize the graph. #}
{% block onload %}init(){% endblock %}
{% block javascript %}
function init() {
  var graph = $("#graph");

  var graph_plots = {{graph_plots|tojson|safe}};
  var graph_options = {{graph_options|tojson|safe}};
  $.plot(graph, graph_plots, graph_options);
}
{% endblock %}

{% block body %}

{% call v4_utils.v4_run_page(ts, machine, run, compare_to, neighboring_runs) %}

{{ utils.render_popup_begin('view_options', 'View Options', true) }}
<form action="" method="get">
<b>Hide Line Plot:</b>
<input type="checkbox" name="hide_lineplot" value="yes" {{
       'checked' if options.hide_lineplot else ""}}><br>

<b>Show Median Absolute Deviation:</b>
<input type="checkbox" name="show_mad" value="yes" {{
       'checked' if options.show_mad else ""}}><br>

<b>Show Standard Deviation:</b>
<input type="checkbox" name="show_stddev" value="yes" {{
       'checked' if options.show_stddev else ""}}><br>

<b>Show Linear Regression:</b>
<input type="checkbox" name="show_linear_regression" value="yes" {{
       'checked' if options.show_linear_regression else ""}}><br>

<b>Show Points For Failures:</b>
<input type="checkbox" name="show_failures" value="yes" {{
       'checked' if options.show_failures else ""}}><br>

<b>Show Sample Points:</b>
<input type="checkbox" name="show_points" value="yes" {{
       'checked' if options.show_points else ""}}><br>

<b>Show All Sample Points:</b>
<input type="checkbox" name="show_all_points" value="yes" {{
       'checked' if options.show_all_points else ""}}><br>

<b>Normalize By Median:</b>
<input type="checkbox" name="normalize_by_median" value="yes" {{
       'checked' if options.normalize_by_median else ""}}><br>

<b>Show Moving Average</b>
<input type="checkbox" name="show_moving_average" value="yes" {{
       'checked' if options.show_moving_average else ""}}><br>

<b>Show Moving Median</b>
<input type="checkbox" name="show_moving_median" value="yes" {{
       'checked' if options.show_moving_median else ""}}><br>

<b>Moving Average/Median Window Size</b>
<input type="text" name="moving_window_size" value="{{ options.moving_window_size }}"/><br>

<b>Hide Revision Comparison Region Highlight</b>
<input type="checkbox" name="hide_highlight" value="yes" {{
       'checked' if options.hide_highlight else ""}}><br>

{# Add all the hidden fields. #}
{% for name,value in request.args.items() %}
  {% if name.startswith('test.') %}
    <input type="hidden" name="{{name}}" value="{{value}}">
  {% endif %}
{% endfor %}

<input type="submit" name="submit" value="Update">
</form>
{{ utils.render_popup_end() }}

<h3>Graph</h3>
<table>
<tr>
<td rowspan=2 valign="top">
  <div id="graph" style="margin:0px;width:600px;height:400px;"></div>
</td>
<td valign="top">
<table cellspacing=4 border=1>
<tr><th colspan=3>Test</th></tr>
{% for name,field_name,col in legend %}
    <tr>
      <td bgcolor="{{ '%02x%02x%02x' % (
                        255*col[0], 255*col[1], 255*col[2]) }}">&nbsp;</td>
      <td>{{name}}</td>
      <td>{{field_name}}</td>
    </tr>
{% endfor %}
</table>
</td></tr>
<tr><td align="right" valign="bottom">
<font size="-2">
Left Mouse: Pan<br>
Double Left Mouse: Zoom<br>
Wheel: Zoom<br>
</font>
</td></tr>
</table>
<p>
<b>Plots</b>: {{ num_plots }}<br>
<b>Num Points</b>: {{ num_points }}<br>

{% endcall %}

{% endblock %}
