{% import "utils.html" as utils %}

{% set run = request_info.run %}
{% set compare_to = request_info.compare_to %}
{% set baseline = request_info.baseline %}
{% set ts = request_info.ts %}
{% set machine = run.machine %}
{% set neighboring_runs = request_info.neighboring_runs %}
{% set comparison_neighboring_runs = request_info.comparison_neighboring_runs %}

{% extends "layout.html" %}
{% set components = [(ts.name, v4_url_for("v4_recent_activity")),
                     ('%s:%s' % (machine.name, machine.id),
                     v4_url_for("v4_machine", id=machine.id))] %}

{% block head %}
  <script src="{{ url_for('.static', filename='popup.js') }}"></script>
  <script src="{{ url_for('.static', filename='sorttable.js') }}"></script>
  <script type="text/javascript">
  function selectAll(source) {
    $(source).closest("table").find("input:checkbox").prop("checked", source.checked);
  }
  </script>
{% endblock %}

{% block title %}Run Results{% endblock %}

{% macro get_cell_value(cr) %}
  {% set test_status = cr.get_test_status() %}
  {% set value_status = cr.get_value_status(ignore_small=not options.show_small_diff) %}
  {% set run_cell_value = "-" if cr.current is none else "%.4f" % cr.current %}
  
  {% if options.show_previous %}
    {% set prev_cell_value = "-" if cr.previous is none else "%.4f" % cr.previous %}
    <td>{{prev_cell_value}}</td>
  {% endif %}
  
  {% set cell_color = none %}
  {% if test_status == analysis.REGRESSED %}
    {% set cell_color = (233,128,128) %}
  {% elif test_status == analysis.IMPROVED %}
    {% set cell_color = (143,223,95) %}
  {% elif test_status == analysis.UNCHANGED_FAIL %}
    {% set cell_color = (255,195,67) %}
  {% endif %}
  
  {% if cell_color %}
    <td style="background-color:{{ '#%02x%02x%02x' % cell_color }}">{{ run_cell_value }}</td>
  {% else %}
    <td>{{run_cell_value}}</td>
  {% endif %}
  
  {% if (options.show_all or
         value_status == analysis.REGRESSED or
         value_status == analysis.IMPROVED) %}
    {{ cr.pct_delta|aspctcell|safe }}
  {% else %}
    <td>-</td>
  {% endif %}
  
  {% if options.show_delta %}
    <td>{{ "-" if cr.delta is none else "%.4f" % cr.delta }}</td>
  {% endif %}
  {% if options.show_stddev %}
    <td>{{ "-" if cr.stddev is none else "%.4f" % cr.stddev }}</td>
  {% endif %}
  {% if options.show_mad %}
    <td>{{ "-" if cr.MAD is none else "%.4f" % cr.MAD }}</td>
  {% endif %}
  {% if options.show_all_samples %}
    <td>
      [
      {%- for v in cr.get_samples() -%}
        {{ ", " if not loop.first else "" }}
        {{ "%.4f" % v }}
      {%- endfor -%}
      ]
    </td>
  {% endif %}
  
  {% if options.show_sample_counts %}
    <td>{{cr.get_samples()|length}}</td>
  {% endif %}

{% endmacro %}

{% block sidebar %}
  <ul class="nav nav-list bs-docs-sidenav">
    <li><a href="#machine_info"><i class="icon-chevron-right"></i>Machine Info</a></li>
    <li><a href="#run_info"><i class="icon-chevron-right"></i>Run Info</a></li>
    <li><a href="#view_options"><i class="icon-chevron-right"></i>View Options</a></li>
    <li><a href="#report"><i class="icon-chevron-right"></i>Report</a></li>
    {% for field in primary_fields %}
      <li><a href="#{{ field.name }}"><i class="icon-chevron-right"></i>{{ field.name }}</a></li>
    {% endfor %}
  </ul>

  <h4>Runs:</h4>
  <ul>
  {# Show a small number of neighboring runs. #}
  {% for r in neighboring_runs %}
    <li>
      {{ "<b>"|safe if r.id == run.id else "" }}
      <a href="{{v4_url_for('v4_run', id=r.id)}}">{{ r.start_time }}</a>
      {{ "</b>"|safe if r.id == run.id else "" }}
  {% endfor %}
  </ul>
  {# Show a small number of runs in the neighborhood of the comparison run. #}
  {% if comparison_neighboring_runs %}
    <h4>Compare To:</h4>
    <ul>
    {% for r in comparison_neighboring_runs %}
      <li>
        {{ "<b>"|safe if compare_to and r.id == compare_to.id else "" }}
        <a href="{{v4_url_for('v4_run', id=run.id, compare_to=r.id)}}">{{ r.start_time}}</a>
        {{ "</b>"|safe if compare_to and r.id == compare_to.id else "" }}
    {% endfor %}
    </ul>
  {% endif %}
{% endblock %}

{% block body %}

  <section id="machine_info" />
  {{ utils.render_popup_begin('machine_info', 'Machine Info', true) }}
  <h4>Fields</h4>
  <table class="table table-striped table-condensed table-hover">
  {% for item in machine.fields %}
    <tr>
      <td> <b>{{item.name}}</b> </td>
      <td>{{machine.get_field(item)}}</td>
    </tr>
  {% endfor %}
  </table>

  <h4>Parameters</h4>
  <table class="table table-striped table-condensed table-hover">
  {% for key,value in machine.parameters|dictsort %}
    <tr>
      <td> <b>{{key}}</b> </td>
      <td>{{value}}</td>
    </tr>
  {% endfor %}
  </table>
  {{ utils.render_popup_end() }}

  <section id="run_info" />
  {{ utils.render_popup_begin('run_info', 'Run Info', true) }}
  <h4>Fields</h4>
  <table class="table table-striped table-condensed table-hover">
    <thead>
      <tr><th>Name</th><th>Value</th></tr>
    </thead>
    {% for item in run.fields %}
      <tr>
        <td> <b>{{item.name}}</b> </td>
        <td>{{run.get_field(item)}}</td>
      </tr>
    {% endfor %}
  </table>

  <h4>Parameters</h4>
  <table class="table table-striped table-condensed table-hover">
    <thead>
      <tr><th>Name</th><th>Value</th></tr>
    </thead>
    {% for key,value in run.parameters|dictsort(case_sensitive=True) %}
      <tr>
        <td> <b>{{key}}</b> </td>
        {# Split lines in multi-line values. #}
        {% if '\n' in value %}
          <td>
          {% for ln in value.split('\n') %}
            {{ ln }}<br>
          {% endfor %}
          </td>
        {% else %}
          <td>{{value}}</td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
  {{ utils.render_popup_end() }}

  <section id="view_options" />
  {{ utils.render_popup_begin('view_options', 'View Options', true) }}
  <form action="" method="get">
    <table class="table table-striped table-condensed table-hover">
    <tr>
      <td>Show Delta</td>
      <td><input type="checkbox" name="show_delta" value="yes" {{ "checked" if options.show_delta else "" }}></td>
    </tr>
    <tr>
      <td>Show Previous Value:</td>
      <td><input type="checkbox" name="show_previous" value="yes" {{ "checked" if options.show_previous else "" }}></td>
    </tr>
    <tr>
      <td>Show Standard Deviation:</td>
      <td><input type="checkbox" name="show_stddev" value="yes" {{ "checked" if options.show_stddev else "" }}></td>
    </tr>
    <tr>
      <td>Show Median Absolute Deviation:</td>
      <td><input type="checkbox" name="show_mad" value="yes" {{ "checked" if options.show_mad else "" }}></td>
    </tr>
    <tr>
      <td>Show All Values:</td>
      <td><input type="checkbox" name="show_all" value="yes" {{ "checked" if options.show_all else "" }}><td>
    </tr>
    <tr>
      <td>Show All Samples:</td>
      <td><input type="checkbox" name="show_all_samples" value="yes" {{ "checked" if options.show_all_samples else "" }}></td>
    </tr>
    <tr>
      <td>Show Sample Counts:</td>
      <td><input type="checkbox" name="show_sample_counts" value="yes" {{ "checked" if options.show_sample_counts else "" }}></td>
    </tr>
    <tr>
      <td>Show Small Differences:</td>
      <td><input type="checkbox" name="show_small_diff" value="yes" {{ "checked" if options.show_small_diff else "" }}></td>
    </tr>
    <tr>
      <td>Number of Comparison Runs:</td>
      <td><input type="text" name="num_comparison_runs" value="{{ options.num_comparison_runs }}"></td>
    </tr>
    <tr>
      <td>Show Report Graphs:</td>
      <td><input type="checkbox" name="show_graphs" value="yes" {{ "checked" if options.show_graphs else "" }}></td>
    </tr>
    <tr>
      <td>Show Data Table:</td>
      <td><input type="checkbox" name="show_data_table" value="yes" {{ "checked" if options.show_data_table else ""}}></td>
    </tr>
    <tr>
      <td>Hide Report By Default:</td>
      <td><input type="checkbox" name="hide_report_by_default" value="yes" {{ "checked" if options.hide_report_by_default else ""}}></td>
    </tr>
    <tr>
      <td>Test Filter (regexp):</td>
      <td><input type="text" name="test_filter" value="{{ options.test_filter }}"></td>
    </tr>
    <tr>
      <td>Test Min. Value Filter:</td>
      <td><input type="text" name="test_min_value_filter" value="{{ options.test_min_value_filter }}"></td>
    </tr>
    <tr>
      <td>Aggregation Function</td>
      <td>
        <select name="aggregation_fn">
        <option value="min" {{ " selected" if "min" == options.aggregation_fn else ""}}>
          Minimum</value>
        <option value="median" {{ " selected" if "median" == options.aggregation_fn else ""}}>
          Median</value>
        </select>
      </td>
    </tr>
    <tr>
      <td>Mann-Whitney test confidence level:</td>
      <td>
        <select name="MW_confidence_lv">
          <option value="0.10" {{ "selected" if options.MW_confidence_lv == 0.10 else ""}}>
            10%</value>
          <option value="0.05" {{ "selected" if options.MW_confidence_lv == 0.05 else ""}}>
            5%</value>
          <option value="0.01" {{ "selected" if options.MW_confidence_lv == 0.01 else ""}}>
            1%</value>
        </select>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        {% if compare_to %}
          <input type="hidden" name="compare_to" value="{{compare_to.id}}">
        {% endif %}
        {% if baseline %}
          <input type="hidden" name="baseline" value="{{baseline.id}}">
        {% endif %}
        
        <input type="submit" name="submit" value="Update">
      </td>
    </tr>
    </table>
  </form>
  {{ utils.render_popup_end() }}

  <section id="report" />
  {{ utils.render_popup_begin('html_report', 'Report',
                              options.hide_report_by_default) }}
  {{request_info.html_report|safe}}
  {{ utils.render_popup_end() }}

  {% set graph_base=v4_url_for('v4_graph', highlight_run=run.id) %}
  <form method="GET" action="{{ graph_base }}">
  
    {# Report one table for each primary field. #}
    {% for field in primary_fields %}
      <section id="{{ field.name }}" />
      {{ utils.render_popup_begin('test_data-' + field.name, field.name, false) }}
      <table class="table table-striped table-hover table-condensed sortable">
        <thead>
          <tr>
            <th rowspan="1" class="sorttable_nosort"><input type="checkbox" id="select-all" onClick="selectAll(this)"></th>
            <th rowspan="1">Name</th>
            {% if options.show_previous %}<th>Prev</th>{% endif %}
            <th>Current</th>
            <th>%</th>
            {% if options.show_delta %}<th>&Delta;</th>{% endif %}
            {% if options.show_stddev %}<th>&sigma;</th>{% endif %}
            {% if options.show_mad %}<th>MAD</th>{% endif %}
            {% if options.show_all_samples %}<th>Samples</th>{% endif %}
            {% if options.show_sample_counts %}<th>N</th>{% endif %}
          </tr>
        </thead>
        <tbody>  
          {% set tests = [] %}
          {% set (runs, compare_runs) = request_info.sri.get_sliding_runs(run, compare_to, request_info.num_comparison_runs) %}
          {% for test_name,test_id in test_info %}
            {% set cr = request_info.sri.get_comparison_result(runs, compare_runs, test_id, field) %}
            {% if cr.previous is not none or cr.current is not none %}
              {% if cr.current is none or cr.current >= test_min_value_filter %}
                {% if tests.append((test_name, test_id, cr)) %}{% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}

          {% for test_name,test_id,cr in tests %}
            <tr>
              <td><input type="checkbox" name="plot.{{test_id}}" value="{{machine.id}}.{{test_id}}.{{field.index}}"></td>
              <td><a href="{{graph_base}}&plot.{{test_id}}={{ machine.id}}.{{test_id}}.{{field.index}}">{{ test_name }}</a></td>
              {{ get_cell_value(cr) }}
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          {% set cr = request_info.sri.get_geomean_comparison_result(
                      run, compare_to, field, tests, request_info.comparison_window) %}
          <td><input type="checkbox" name="mean" value="{{machine.id}}.{{field.index}}"></td>
          <td><a href="{{graph_base}}&mean={{machine.id}}.{{field.index}}">Geometric Mean</a></td>
          {{ get_cell_value(cr) }}
        </tfoot>
      </table>
      {{ utils.render_popup_end() }}
    {% endfor %}
    <p><input type="submit" value="Graph">
  </form>
  
  {% if options.show_data_table %}
    <h3>Test Data</h3>
    <table class="table table-striped table-condensed table-hover">
      <thead>
        <th>Name</th>
        {% for field in primary_fields %}
          <th colspan="3">{{field.name}}</th>
        {% endfor %}
      </thead>
      <thead>
       <th>-</th>
        {% for field in primary_fields %}
          <th>Prev</th>
          <th>Value</th>
          <th>%</th>
        {% endfor %}
      </thead>
      <tbody>
      {% for test_name,test_id in test_info %}
        <tr>
          <td>{{ test_name }}</td>
          {% for field in primary_fields %}
		    {% set cr = request_info.sri.get_run_comparison_result(run, compare_to, test_id, field) %}
            <td>{{cr.previous}}</td>
            <td>{{cr.current}}</td>
            <td>{{cr.pct_delta}}</td>
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
  
{% endblock %}
