name: Deploy lnt.llvm.org

on:
  push:
    branches: ['main']
    paths:
      - '.github/workflows/deploy-lnt.llvm.org.yaml'
      - 'deployment/*'

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    - name: Initialize Terraform
      run: terraform -chdir=deployment init

    - name: Apply Terraform changes
      run: terraform -chdir=deployment apply -auto-approve
